{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <h1>Cart</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cart.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ cart.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cart_index') }}">back to list</a>

    <a href="{{ path('cart_edit', {'id': cart.id}) }}">edit</a>

    {{ include('cart/_delete_form.html.twig') }}
{% endblock %}
